[
  {
    "order" : 0,
    "hideIfActive" : false,
    "url" : "\/Clipboard.clipboard",
    "keyCode" : 49,
    "enabled" : false,
    "modifierFlags" : 1179648,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true
  },
  {
    "order" : 1,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "enabled" : true,
    "keyCode" : 14,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "modifierFlags" : 524576,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va2wCAAAAAAQQMAAAAL+Jp\/Ne7aTIPzaqxqkId3uUKC92AqMOermSNrzCwbqWjAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAAHeEAAD\/\/\/8PCAAAAAQDAACw\/gIA\/\/\/\/DwgAAAAEAwAAsR8DAP\/\/\/w8QAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHE7Eu9AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEBAABGQjg5MDc5MC03QTFCLTRGODAtQUFGOC0wNUNERTNBODE2QjgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAWAAAAAAAAAAFEAAAsAAAAAAAAAAQEAAA2AAAAAAAAABAEAAAyAAAAAAAAAACIAAAeAEAAAAAAAAFIAAA+AAAAAAAAAAQIAAACAEAAAAAAAARIAAALAEAAAAAAAASIAAAHAEAAAAAAAATIAAAyAAAAAAAAAAgIAAAWAEAAAAAAAAwIAAAhAEAAAAAAAAQ0AAABAAAAAAAAAA="
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "order" : 2,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAHw88FI6q6iQo53C1LyDUycUOKFsBacwl4tpZLk6sLKLUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABBbGFjcml0dHkuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAgUQAAAAAAAAIAAAABAMAACKzfAAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcVlsMQAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHFWsqjgAAAJAAAAAEBAABBOUE3QzMxRS1DOTMyLTQ3NEUtQjc3Qy0wRDQzREJFQTNERjAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "url" : "\/Applications\/Alacritty.app",
    "openSelectedFiles" : true,
    "modifierFlags" : 524576,
    "enabled" : true,
    "keyCode" : 38
  },
  {
    "bookmark" : "Ym9va0wCAAAAAAQQMAAAANtL+Da9ljv0qR7htl0bGRTJTYtHF3NKV1ubw3MYStGsbAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAABlWwAA\/\/\/\/DwwAAAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxOK7bgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAARkI4OTA3OTAtN0ExQi00RjgwLUFBRjgtMDVDREUzQTgxNkI4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgAAAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAAANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAAEiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAAAAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA",
    "keyCode" : 17,
    "url" : "\/System\/Applications\/System Settings.app",
    "hideIfActive" : false,
    "order" : 3,
    "openSelectedFiles" : true,
    "enabled" : true,
    "modifierFlags" : 524576,
    "openSelectedFolders" : true
  },
  {
    "openSelectedFolders" : true,
    "url" : "\/System\/Applications\/Calendar.app",
    "enabled" : true,
    "order" : 4,
    "keyCode" : 37,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAACAbgVmT6DRTCA0KqmOPAMda\/UxqmO\/qZrkTA8CIdmpQZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAwAsAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcTiu24AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEZCODkwNzkwLTdBMUItNEY4MC1BQUY4LTA1Q0RFM0E4MTZCOBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "url" : "\/System\/Applications\/Utilities\/Activity Monitor.app",
    "bookmark" : "Ym9va3gCAAAAAAQQMAAAAFtAlxyVWJ72hDOt2INvX12tVaFZoBpkFPKE\/zYgzuPymAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAAFAAAAAEBAABBY3Rpdml0eSBNb25pdG9yLmFwcBAAAAABBgAAEAAAACAAAAA0AAAASAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAABGawAA\/\/\/\/DwgAAAAEAwAASGsAAP\/\/\/w8QAAAAAQYAAHwAAACMAAAAnAAAAKwAAAAIAAAAAAQAAEHE7Eu9AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEBAABGQjg5MDc5MC03QTFCLTRGODAtQUFGOC0wNUNERTNBODE2QjgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAAhAEAAAAAAAAFIAAABAEAAAAAAAAQIAAAFAEAAAAAAAARIAAAOAEAAAAAAAASIAAAKAEAAAAAAAATIAAA1AAAAAAAAAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFolders" : true,
    "enabled" : true,
    "modifierFlags" : 524576,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "keyCode" : 15,
    "order" : 5
  },
  {
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "openSelectedFiles" : true,
    "keyCode" : 4,
    "order" : 6,
    "enabled" : true,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAJrivoNnB583aOnR2fT6+cZuyXSWsYzR08I++26Chue2VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAIhcAAAAAAAACAAAAAQDAAD1Ih8AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCu7HjAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBw832dwAAACQAAAABAQAARkI4OTA3OTAtN0ExQi00RjgwLUFBRjgtMDVDREUzQTgxNkI4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "url" : "\/Applications\/Google Chrome.app"
  },
  {
    "enabled" : true,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAIAPeZE8MtO8hIz7QS\/fCcPrCIcKgYd74RmxQepgC53sYAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zHQAAAAEBAABGaXJlZm94IERldmVsb3BlciBFZGl0aW9uLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAIFEAAAAAAAACAAAAAQDAADSfOsAAAAAAAgAAAABBgAAXAAAAGwAAAAIAAAAAAQAAEHFkEkQgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxVrKo4AAACQAAAABAQAAQTlBN0MzMUUtQzkzMi00NzRFLUI3N0MtMEQ0M0RCRUEzREYwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAHwAAAAAAAAAEBAAAJwAAAAAAAAAQBAAAIwAAAAAAAAAAiAAAEwBAAAAAAAABSAAALwAAAAAAAAAECAAAMwAAAAAAAAAESAAAAABAAAAAAAAEiAAAOAAAAAAAAAAEyAAAPAAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "keyCode" : 11,
    "modifierFlags" : 524576,
    "url" : "\/Applications\/Firefox Developer Edition.app",
    "openSelectedFiles" : true,
    "order" : 7,
    "hideIfActive" : false
  },
  {
    "order" : 8,
    "bookmark" : "Ym9va3QCAAAAAAQQMAAAALaOec7CLBVkzVNS2ylov55soedHCPL34noLCw+G9g85lAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zBQAAAAEBAABDaXNjbwAAACsAAAABAQAAQ2lzY28gQW55Q29ubmVjdCBTZWN1cmUgTW9iaWxpdHkgQ2xpZW50LmFwcAAMAAAAAQYAABAAAAAkAAAANAAAAAgAAAAEAwAAgUQAAAAAAAAIAAAABAMAAGcBHQAAAAAACAAAAAQDAABoAR0AAAAAAAwAAAABBgAAfAAAAIwAAACcAAAACAAAAAAEAABBxCSwS4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcVayqOAAAAkAAAAAQEAAEE5QTdDMzFFLUM5MzItNDc0RS1CNzdDLTBENDNEQkVBM0RGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABoAAAAAAAAAAUQAACsAAAAAAAAABAQAADQAAAAAAAAAEAQAADAAAAAAAAAAAIgAACAAQAAAAAAAAUgAADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAA0AQAAAAAAABIgAAAUAQAAAAAAABMgAAAkAQAAAAAAACAgAABgAQAAAAAAADAgAACMAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "enabled" : true,
    "keyCode" : 41,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 524576,
    "url" : "\/Applications\/Cisco\/Cisco AnyConnect Secure Mobility Client.app"
  },
  {
    "hideIfActive" : false,
    "keyCode" : 34,
    "url" : "\/Applications\/Amazon Chime.app",
    "modifierFlags" : 524576,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAFOA5KPZqSBoDxZ6BHy+4AV1ciqhh\/38htv0N3UfKOkqUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEAAAAAEBAABBbWF6b24gQ2hpbWUuYXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAgUQAAAAAAAAIAAAABAMAAIUJDwAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcVeQwMAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHFWsqjgAAAJAAAAAEBAABBOUE3QzMxRS1DOTMyLTQ3NEUtQjc3Qy0wRDQzREJFQTNERjAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "order" : 9,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "enabled" : true
  },
  {
    "keyCode" : 40,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Microsoft Teams (work or school).app",
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "enabled" : true,
    "modifierFlags" : 524576,
    "order" : 10,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAANNCL+GfcJEy+V1cnOGAV1+u5+fJSe6un0ElF+G+DxM9ZAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zJAAAAAEBAABNaWNyb3NvZnQgVGVhbXMgKHdvcmsgb3Igc2Nob29sKS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACBRAAAAAAAAAgAAAAEAwAAJdQmAAAAAAAIAAAAAQYAAGAAAABwAAAACAAAAAAEAABBxWYyagAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcVayqOAAAAkAAAAAQEAAEE5QTdDMzFFLUM5MzItNDc0RS1CNzdDLTBENDNEQkVBM0RGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABQAAAAAAAAAAUQAACAAAAAAAAAABAQAACgAAAAAAAAAEAQAACQAAAAAAAAAAIgAABQAQAAAAAAAAUgAADAAAAAAAAAABAgAADQAAAAAAAAABEgAAAEAQAAAAAAABIgAADkAAAAAAAAABMgAAD0AAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "url" : "\/Applications\/Numi.app",
    "openSelectedFiles" : true,
    "enabled" : true,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "keyCode" : 45,
    "modifierFlags" : 524576,
    "order" : 11,
    "bookmark" : "Ym9vaygCAAAAAAQQMAAAAOHbnmjOc3wPtdPRKKbgNnLFgW1gim8T\/6Gji9NveOQzSAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCAAAAAEBAABOdW1pLmFwcAgAAAABBgAAEAAAACQAAAAIAAAABAMAAM0FJQEAAAAACAAAAAQDAADZxigBAAAAAAgAAAABBgAARAAAAFQAAAAIAAAAAAQAAEHE7n2IAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxOK7bgAAACQAAAABAQAARkI4OTA3OTAtN0ExQi00RjgwLUFBRjgtMDVDREUzQTgxNkI4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQAAAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAEyUM75moI\/9LK3KZl+kegsspU0NL1scsSW3QqsvmUqVTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABOb3Rpb24uYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADNBSUBAAAAAAgAAAAEAwAA5EEPAQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxNa+oAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcTiu24AAAAkAAAAAQEAAEZCODkwNzkwLTdBMUItNEY4MC1BQUY4LTA1Q0RFM0E4MTZCOBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Notion.app",
    "openSelectedFolders" : true,
    "keyCode" : 31,
    "modifierFlags" : 524576,
    "order" : 12,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "enabled" : false
  },
  {
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "modifierFlags" : 524576,
    "order" : 13,
    "enabled" : false,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAALfHd1oSCLRNwviw\/TB+9vG8B9LEyoi2VbdDWhk2WCsjVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABJbnRlbGxpSiBJREVBLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAABABNAEAAAAACAAAAAQDAACuEB8AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCutbSAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxOxLvQAAACQAAAABAQAARkI4OTA3OTAtN0ExQi00RjgwLUFBRjgtMDVDREUzQTgxNkI4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "keyCode" : 3,
    "url" : "\/Applications\/IntelliJ IDEA.app"
  },
  {
    "keyCode" : 38,
    "url" : "\/Applications\/IntelliJ IDEA CE.app",
    "enabled" : false,
    "modifierFlags" : 524576,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "order" : 14,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAJfcXMpvGNxrWodD2W24mQ89uAzL9gMqL4gqmy18sDl0VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFAAAAAEBAABJbnRlbGxpSiBJREVBIENFLmFwcAgAAAABBgAAEAAAACQAAAAIAAAABAMAABABNAEAAAAACAAAAAQDAABA96cBAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHFWIV2AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxOxLvQAAACQAAAABAQAARkI4OTA3OTAtN0ExQi00RjgwLUFBRjgtMDVDREUzQTgxNkI4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : false
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "keyCode" : 16,
    "openSelectedFiles" : true,
    "modifierFlags" : 524576,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAGqx11p5v9+uPF22Fc5qz9qIk1mDDJnlsLHMN6GiAbGBUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDwAAAAEBAABUb2dnbCBUcmFjay5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAEAE0AQAAAAAIAAAABAMAAKxRsQEAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcVhoiQAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHE7Eu9AAAAJAAAAAEBAABGQjg5MDc5MC03QTFCLTRGODAtQUFGOC0wNUNERTNBODE2QjgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "enabled" : false,
    "url" : "\/Applications\/Toggl Track.app",
    "order" : 15
  },
  {
    "enabled" : true,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAGYeKGNhuakEvU2dNBUv7aBFqLWdGHhOwCpYGEC+nr4fWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3NvZnQgT3V0bG9vay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACBRAAAAAAAAAgAAAAEAwAAHE8VAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBxS1JOAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcVayqOAAAAkAAAAAQEAAEE5QTdDMzFFLUM5MzItNDc0RS1CNzdDLTBENDNEQkVBM0RGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 524576,
    "keyCode" : 31,
    "url" : "\/Applications\/Microsoft Outlook.app",
    "order" : 16,
    "hideIfActive" : false,
    "openSelectedFiles" : true
  },
  {
    "keyCode" : 46,
    "enabled" : false,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAM0oDf2kflVSJ4SgBGNdpUlnLn1Awc4zuJ013uHL+7vZZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAbDQAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcVayqOAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEE5QTdDMzFFLUM5MzItNDc0RS1CNzdDLTBENDNEQkVBM0RGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 17,
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "url" : "\/System\/Applications\/Notes.app",
    "openSelectedFiles" : true
  },
  {
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAANnLAfs7tX2nP7dkbYx8c0+D1dfvzOnW6UdtBrV6B0XLTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPYnNpZGlhbi5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACYpfcAAAAAAAgAAAAEAwAApDAmAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxWzPtoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcV6LGWAAAAkAAAAAQEAAEE5QTdDMzFFLUM5MzItNDc0RS1CNzdDLTBENDNEQkVBM0RGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "modifierFlags" : 524576,
    "openSelectedFiles" : true,
    "keyCode" : 46,
    "enabled" : true,
    "order" : 18,
    "url" : "\/Applications\/Obsidian.app",
    "hideIfActive" : false
  },
  {
    "openSelectedFiles" : true,
    "keyCode" : 16,
    "url" : "\/System\/Applications\/Clock.app",
    "enabled" : false,
    "order" : 19,
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAABAVgCnY8i+x627zoWKDOn632RCDibR0Asqe5jHvnNCUZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAQ2xvY2suYXBwAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAGRAAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcVayqOAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEE5QTdDMzFFLUM5MzItNDc0RS1CNzdDLTBENDNEQkVBM0RGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true
  },
  {
    "modifierFlags" : 524576,
    "url" : "\/Applications\/Be Focused.app",
    "hideIfActive" : false,
    "enabled" : true,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAHOjKc2x5gChWQYPq3AscuA1l2\/wxsJl+aPWzXl0Xt87UAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDgAAAAEBAABCZSBGb2N1c2VkLmFwcAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAmKX3AAAAAAAIAAAABAMAAC2H5QAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcVsKDSAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHFeixlgAAAJAAAAAEBAABBOUE3QzMxRS1DOTMyLTQ3NEUtQjc3Qy0wRDQzREJFQTNERjAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "keyCode" : 16,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "order" : 20
  },
  {
    "order" : 21,
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "enabled" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Insomnia.app",
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAF\/Slm9UcGiDxQBPuAnBRpQTCmqGaYTO2U\/QY5Cl8RhYTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABJbnNvbW5pYS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACBRAAAAAAAAAgAAAAEAwAAdRZhAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxWzIfQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcVayqOAAAAkAAAAAQEAAEE5QTdDMzFFLUM5MzItNDc0RS1CNzdDLTBENDNEQkVBM0RGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 35
  }
]